body {
	background-image: url('../img/libros.jpg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 600px;
}
#content {
	width: 50%;
	background-color: white;
	margin: auto;
	opacity: .9;
}
.publicHome,
.loginData {
	width: 100%;
	background-color: #0B6138;
	margin: auto;
	height: 100%;
}
.loginData input {
	display: block;
	margin: auto;
	margin-top: 10px;
}
.publicHome #intro-slide {
	height: 85%;
}
.publicHome #intro-slide p {
	width: 50%;
	height: 100%;
  	margin: auto;
  	color: white;
  	margin: auto;
  	font-size: 16px;
  	padding: 80px 0px 30px 0px;
  	text-align: center;
}
.btns {
	margin: auto;
	text-align: center;
	height: 15%;
	padding-bottom: 10px;
}
.btns input {
	margin-top: 13px;
	width: 120px;
}
@media screen and (max-width: 700px) {
	body {
		min-height: 570px;
	}
	#content {
		margin-top: -30px;
		width: 90%;
		background-color: white;
		margin: auto;
		opacity: .9;
	}
	.publicHome {
		width: 100%;
		background-color: #0B6138;
		margin: auto;
		height: 400px;
	}
	.publicHome #intro-slide {
		height: 75%;
	}
	.publicHome #intro-slide p {
		width: 100%;
		height: 100%;
  		margin: auto;
  		color: white;
  		margin: auto;
  		font-size: 16px;
  		padding: 80px 5px 30px 5px;
  		text-align: center;
	}
	.btns {
		margin: auto;
		text-align: center;
		height: 25%;
	}
	.btns input {
		margin-top: 13px;
		width: 90%;
	}
	.btn-default {
		margin-top: 5px;
	}
}