<div class='publicHome'>
	<div id='intro-slide'>
		<p>
			<em>Sistema de administración de libros de biblioteca:</em>
			Además de los servicios clásicos de altas, bajas, préstamo y devolución, 
			la biblioteca proporciona servicios de reserva de libros, 
			que determinan una estimación sobre el tiempo que tardará en hacerse el préstamo. 
		</p>
	</div>
	<div class='btns'> 
		<input id='signup-btn' class="btn btn-default" type='button' value='Empezar'>
		<input id='login-btn' class="btn btn-default" type='button' value='Ya tengo cuenta'>	
	</div>
</div>