<div class='signupData'>
	<label>Nombre&#58;</label>
	<input class='inputSignup' id='name' type='text'>
	<label>Apellidos&#58;</label>
	<input class='inputSignup' id='lastname' type='text'>
	<label>Correo&#58;</label>
	<input class='inputSignup' id='email' type='email'>
	<label>Contraseña&#58;</label>
	<input class='inputSignup' id='pass' type='password'>
	<label>Repita su contraseña&#58;</label>
	<input class='inputSignup' id='pass1' type='password'>
	<div class='btns'>
		<input id='signup' class='btn btn-default' type='button' value='Registrame'>
	</div>
</div>